{
	"prtg": {
		"result": [{
				"channel": "Active",
				"ValueLookup": "sigfox.keepalive",
				"value": $.keepAlive
			}, {
				"channel": "Keep Alive",
				"CustomUnit": "min",
				"value": $.keepAlive
			}
		]
	}
}